.pagination-box {
	padding: 0 16px;
	background-color: #fff;
	font-size: 1.4rem;
	color: #39b881;
	user-select: none;
    text-align: center;
	& .mdi:not(.mdi-dots) {
		font-size: 1.8rem;
		font-weight: 600;
	}
	& .pagination {
        display: inline-block;
		& .item {
			position: relative;
			display: flex;
			float: left;
			width: 32px;
    		height: 32px;
    		line-height: 28px;
    		text-align: center;
    		margin-right: 8px;
    		cursor: pointer;
    		& .circle {
    			position: absolute;
    			top: 0;
    			width: 32px;
    			height: 32px;
    			border-radius: 50%;
    			background-color: #39b881;
    			opacity: 0;
    			transform: scale(0);
    			transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    		}
            & span {
                position: relative;
                margin: auto;
            }
            
    		&:hover:not(.disabled, .active) {
    			color: #fff;
    			& .circle {
    				opacity: 0.6;
    				transform: scale(1);
    			}
    		}
    		
    		&.disabled {
    			color: #d9d9d9;
    			&:hover {
    				cursor: not-allowed;
    				
    			}
    		}
    		&.active {
    			color: #fff;
    			& .circle {
    				opacity: 1;
    				transform: scale(1);
    			}
    		}
            &.jump-prev {
                &:hover {
                    & .mdi:before {
                        content: "\f13d";
                    }
                }
            }
            &.jump-next {
                &:hover {
                    & .mdi:before {
                        content: "\f13e";
                    }
                }
            }
		}
		& .options {
			display: inline-block;
			margin-left: 8px;
			& .mdl-textfield {
				width: 50px;
				margin-left: 8px;
			}
		}
	}
}