.mdl-textfield {
	position: relative;
    max-width: 100%;
    display: inline-block;
    & .mdl-textfield-input {
        border: none;
        border-bottom: 1px solid #dadada;
        display: block;
        padding: 4px 0;
        font-family: inherit;
        font-size: 1.6rem;
        width: 100%;
        text-align: left;
        outline: none;
        &.is-textarea {
             resize: none;
             padding: 0;
             height: 49px;
             line-height: 24px;
        }
    }
    & .mdl-textfield-label {
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        color: #a3a3a3;
        pointer-events: none;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        transition-property: top, color, font-size;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        &:after {
            background-color: #39b881;
            bottom: 0;
            content: '';
            height: 2px;
            left: 45%;
            position: absolute;
            transition: all .2s cubic-bezier(.4,0,.2,1);
            visibility: hidden;
            width: 10px;
        }
    }
    &.is-focus .mdl-textfield-label:after{
        left: 0;
        width: 100%;
        visibility: visible;
    }
    &.is-float .mdl-textfield-label{
        top: -18px;
        color: #39b881;
        font-size: 1.2rem;
    }
    
    
    &.is-dirty:not(.mdl-textfield-float) .mdl-textfield-label {
         visibility: hidden;
    }
}



