.approval {
	min-height: calc(100vh - 112px);
	width: 70%;
	margin: 24px auto;
	overflow: hidden;
	background-color: #fff;
	padding: 32px 100px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	& .title {
		height: 48px;
		line-height: 48px;
		font-size: 2rem;
    	font-weight: 600;
    	color: #909090;
    	border-bottom: 1px solid #d9d9d9;
	}
	& .list {
		margin-top: 8px;
		& .item {
			position: relative;
			padding: 10px;
   			margin-bottom: 1px;
    		border-bottom: 1px solid #eeeeee;
    		height: 58px;
    		color: #555;
    		& > .mdi {
    			margin: 0 16px 0 6px;
    			color: #39b881;
    			font-size: 1.5rem;
    			transform: translateY(2px);
    			line-height: 38px;
    		}
    		& .content {
    			position: absolute;
    			top: 8px;
    		}
    		& .time {
    			position: absolute;
    			color: #999;
    			bottom: 8px;
    			font-size: 1.2rem;
    		}
            & .btn-icon {
                position: absolute;
                right: 6px;
                height: 32px;
                width: 32px;
                & .mdi {
                    font-size: 1.6rem;
                    line-height: 32px;
                }
            }
		}
	}
}