.equipment {
	height: calc(100vh - 96px);
	width: 70%;
	margin: 16px auto;
	overflow: hidden;
	background-color: #fff;
	padding: 32px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	& .table-scroll {
		height: calc(100% - 100px);
	}
}