@font-face {
	font-family: "Material Design Icons";
	src: url("./fonts/materialdesignicons-webfont.eot");
    src: url("./fonts/materialdesignicons-webfont.eot") format("embedded-opentype"), url("./fonts/materialdesignicons-webfont.woff2") format("woff2"), url("./fonts/materialdesignicons-webfont.woff") format("woff"), url("./fonts/materialdesignicons-webfont.ttf") format("truetype"), url("./fonts/materialdesignicons-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
	height: 100%;
	width: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Hiragino Sans GB", sans-serif;
	font-size: 1.4rem;
	color: #2c3e50;
}

.wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

ul {
	list-style-type: none;
}

.link {
	position: relative;
	display: inline-block;
	padding: 3px 16px;
	text-decoration: none;
	color: #909090;
	&.active {
		color: #2c3e50;
	}
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.3);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.3);
    -webkit-border-radius: 6px;
}

.mdi {
	display: inline-block;
	font: normal normal normal 24px/1 "Material Design Icons";
	font-size: inherit;
	text-rendering: auto;
	transform: translate(0, 0);
	&.mdi-account:before {
		content: "\f004";
	}
	&.mdi-lock-open:before {
		content: "\f33f";
	}
	&.mdi-account-circle:before {
		content: "\f009";
	}
	&.mdi-dots:before {
		content: "\f1d9";
	}
	&.mdi-menu:before {
		content: "\f35c";
	}
	&.mdi-mac:before {
		content: "\f1c4";
	}
	&.mdi-bell:before {
		content: "\f09a";
	}
	&.mdi-exit:before {
		content: "\f206";
	}
	&.mdi-search:before {
		content: "\f349";
	}
	&.mdi-plus:before {
		content: "\f415";
	}
	&.mdi-settings:before {
		content: "\f493";
	}
	&.mdi-signout:before {
		content: "\f343";
	}
	&.mdi-check:before {
		content: "\f12c";
	}
	&.mdi-success:before {
		content: "\f133";
	}
	&.mdi-info:before {
		content: "\f2fc";
	}
	&.mdi-warning:before {
		content: "\f028";
	}
	&.mdi-error:before {
		content: "\f159";
	}
	&.mdi-left:before {
		content: "\f141";
	}
	&.mdi-right:before {
		content: "\f142";
	}
	&.mdi-dots:before {
		content: "\f1d8";
	}
	&.mdi-minus:before {
		content: "\f374";
	}
	&.mdi-pen:before {
		content: "\f64f";
	}
	&.mdi-del:before {
		content: "\f1c0";
	}
	&.mdi-grid:before {
		content: "\f2C1";
	}
}