.dropdown {
	position: relative;
	display: inline-block;

	margin-left: 200px;
	margin-top: 50px;

	& .dropdown-input {
		width: 100%;
		font-size: 1.6rem;
		outline: none;
		border: none;
    	border-bottom: 1px solid rgb(224, 224, 224);
    	background: none;
    	color: #2c3e50;
	}
	& .dropdown-label {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;

		& svg {
			position: absolute;
			bottom: 0;
			right: 0;
			display: inline-block;
    		height: 24px;
    		width: 24px;
    		color: rgba(0, 0, 0, 0.870588);
    		fill: rgb(224, 224, 224);
    		cursor: pointer;
		}
	}
}