.dropdown {
	position: relative;
	display: inline-block;
	& .dropdown-input {
		width: 100%;
		font-size: 1.6rem;
		outline: none;
		border: none;
    	border-bottom: 1px solid rgb(224, 224, 224);
    	background: none;
	}
}